In [1]:
# import packages
import pandas as pd
import difflib

In [2]:
# concept exmaple
var_word = 'apple'
var_list = ['orange', 'ornge', 'AppleMac', 'pear']

result = difflib.get_close_matches(var_word, var_list, 1, 0.6)
result

['AppleMac']

might need to lower case the strings in the check but not for the output. Maybe create a copy in a new array of the word checking array.

---

In [3]:
# filepath
data_file = '/Users/stephenminter/Desktop/FruitSampleData.xlsx'

#read in filepath and select base tab
df_base = pd.read_excel(data_file, sheet_name= 'base')
df_comparison = pd.read_excel(data_file, sheet_name= 'comparison')
df_comparison

       Fruits
0       Apple
1      Orange
2        Pear
3      Banana
4   StarFruit
5        Plum
6  StrawBerry
7   RaseBerry

In [6]:
# add a new column for each dataframe, set as a lowercase version of the data
df_base['lower_case'] = df_base.iloc[:, 0].str.lower()
df_comparison['lower_case'] = df_comparison.iloc[:, 0].str.lower()

* Create a counter to go through the iloc for each of the base words

In [7]:
# turning into a list, this will be used for the comparison data
list_comparison = df_comparison['lower_case'].to_list()
list_comparison

['apple',
 'orange',
 'pear',
 'banana',
 'starfruit',
 'plum',
 'strawberry',
 'raseberry']

In [19]:
# total bae words for loop
total_base_words = df_base.shape[0] - 1
# location for base word
df_base.iloc[7,0]

'RaseBerry'

8