# List Comparison
* Compares two arrays for the most likley match

In [1]:
# import packages
import pandas as pd
import difflib as dl

* Read in the data and create two dataframes

In [2]:
# filepath
data_file = '/Users/stephenminter/Desktop/FruitSampleData.xlsx'

#read in filepath and select base tab
df_base = pd.read_excel(data_file, sheet_name= 'base')
df_comparison = pd.read_excel(data_file, sheet_name= 'comparison')

* adds a lower case column for each array, this is to make the search more accruate.

In [3]:
# add a new column for each dataframe, set as a lowercase version of the data
df_base['lower_case'] = df_base.iloc[:, 0].str.lower()
df_comparison['lower_case'] = df_comparison.iloc[:, 0].str.lower()

* create a list from each lower case array, used in the for loop

In [4]:
# turning into a list, this will be used for the comparison data
list_base = df_base[df_base.columns[0]].to_list()
list_base_lower = df_base['lower_case'].to_list()
list_comparison = df_comparison['lower_case'].to_list()

* for loop

In [5]:
# create an empty list and for loop
list_accumulation = []

number_of_matches = 3

for word in list_base_lower:
    matched_words = dl.get_close_matches(word,list_comparison, number_of_matches)
    list_accumulation.append(matched_words)

* Create dataframe

In [6]:
df = pd.DataFrame(list(zip(list_base, list_accumulation)))
df

            0                          1
0       Apple  [apple, apple, apple man]
1      Orange                   [orange]
2        Pear                     [pear]
3      Banana                   [banana]
4   StarFruit                [starfruit]
5        Plum                     [plum]
6  StrawBerry    [strawberry, raseberry]
7   RaseBerry    [raseberry, strawberry]
8    AccesPay   [accespa, acces, access]