# List Comparison
* Compares two arrays for the most likley match

In [2]:
# import packages
import pandas as pd
import difflib as dl

* Read in the data and create two dataframes

In [3]:
# filepath
data_file = '/Users/stephenminter/Desktop/FruitSampleData.xlsx'

#read in filepath and select base tab
df_base = pd.read_excel(data_file, sheet_name= 'base')
df_comparison = pd.read_excel(data_file, sheet_name= 'comparison')

* adds a lower case column for each array, this is to make the search more accruate.

In [4]:
# add a new column for each dataframe, set as a lowercase version of the data
df_base['lower_case'] = df_base.iloc[:, 0].str.lower()
df_comparison['lower_case'] = df_comparison.iloc[:, 0].str.lower()

* create a list from each lower case array, used in the for loop

In [5]:
# turning into a list, this will be used for the comparison data
list_base = df_base['lower_case'].to_list()
list_comparison = df_comparison['lower_case'].to_list()

* for loop

In [8]:
# create an empty list and for loop
list_accumulation = []

for word in list_base:
    matched_words = dl.get_close_matches(word,list_comparison, 3)
    list_accumulation.append(matched_words)

* Create dataframe

In [9]:
df = pd.DataFrame(list(zip(list_base, list_accumulation)))
df

            0                          1
0       apple  [apple, apple, apple man]
1      orange                   [orange]
2        pear                     [pear]
3      banana                   [banana]
4   starfruit                [starfruit]
5        plum                     [plum]
6  strawberry    [strawberry, raseberry]
7   raseberry    [raseberry, strawberry]