In [1]:
# import packages
import pandas as pd
import difflib

In [2]:
# concept exmaple
var_word = 'apple'
var_list = ['orange', 'ornge', 'AppleMac', 'pear']

result = difflib.get_close_matches(var_word, var_list, 1, 0.6)
result

['AppleMac']

might need to lower case the strings in the check but not for the output. Maybe create a copy in a new array of the word checking array.

In [4]:
# filepath
data_file = '/Users/stephenminter/Desktop/FruitSampleData.xlsx'

#read in filepath and select base tab
df_base = pd.read_excel(data_file, sheet_name= 'base')
df_base

       Fruits
0       Apple
1      Orange
2        Pear
3      Banana
4   StarFruit
5        Plum
6  StrawBerry
7   RaseBerry

In [7]:
df_base['LowerCase'] = df_base.iloc[:, 0].str.lower()
df_base

       Fruits   LowerCase
0       Apple       apple
1      Orange      orange
2        Pear        pear
3      Banana      banana
4   StarFruit   starfruit
5        Plum        plum
6  StrawBerry  strawberry
7   RaseBerry   raseberry

* Create a counter to go through the iloc for each of the base words