In [1]:
# import packages
import pandas as pd
import difflib as dl

In [2]:
# concept exmaple
var_word = 'apple'
var_list = ['orange', 'ornge', 'AppleMac', 'pear']

result = dl.get_close_matches(var_word, var_list, 1, 0.6)
result

['AppleMac']

might need to lower case the strings in the check but not for the output. Maybe create a copy in a new array of the word checking array.

---

In [3]:
# filepath
data_file = '/Users/stephenminter/Desktop/FruitSampleData.xlsx'

#read in filepath and select base tab
df_base = pd.read_excel(data_file, sheet_name= 'base')
df_comparison = pd.read_excel(data_file, sheet_name= 'comparison')
df_comparison

       Fruits
0       Apple
1      Orange
2        Pear
3      Banana
4   StarFruit
5        Plum
6  StrawBerry
7   RaseBerry
8       Apple
9   Apple Man

In [4]:
# add a new column for each dataframe, set as a lowercase version of the data
df_base['lower_case'] = df_base.iloc[:, 0].str.lower()
df_comparison['lower_case'] = df_comparison.iloc[:, 0].str.lower()
df_base

       Fruits  lower_case
0       Apple       apple
1      Orange      orange
2        Pear        pear
3      Banana      banana
4   StarFruit   starfruit
5        Plum        plum
6  StrawBerry  strawberry
7   RaseBerry   raseberry

* Create a counter to go through the iloc for each of the base words

In [5]:
# turning into a list, this will be used for the comparison data
list_comparison = df_comparison['lower_case'].to_list()
list_comparison

['apple',
 'orange',
 'pear',
 'banana',
 'starfruit',
 'plum',
 'strawberry',
 'raseberry',
 'apple',
 'apple man']

In [6]:
# total base words for loop
total_base_words = df_base.shape[0] - 1
# location for base word
df_base.iloc[7,1]

'raseberry'

In [7]:
# concept, needs to be looped and outputted into a dataframe
result_test = dl.get_close_matches(df_base.iloc[0,1],list_comparison, 3)
result_test

['apple', 'apple', 'apple man']

In [8]:
# set df output as colums not rows, wrap list in list []
test_df = pd.DataFrame([result_test])
# maybe count the columns at the end, loop through to create a new list for the headers.
# test_df.columns = ['column_01', 'column_02']
test_df

       0      1          2
0  apple  apple  apple man

In [9]:
df_base

       Fruits  lower_case
0       Apple       apple
1      Orange      orange
2        Pear        pear
3      Banana      banana
4   StarFruit   starfruit
5        Plum        plum
6  StrawBerry  strawberry
7   RaseBerry   raseberry

Could look at creating a zip, base word zipped with all the lists, if we appened all the list to a new list.

In [14]:
test_list = [[1,2],[1,2,3]]
test_base_zip = ['a','b']

In [17]:
list(zip(test_base_zip, test_list))

[('a', [1, 2]), ('b', [1, 2, 3])]

In [18]:
df_t = pd.DataFrame(list(zip(test_base_zip, test_list)))

In [19]:
df_t

   0          1
0  a     [1, 2]
1  b  [1, 2, 3]

* expanding a list out of a column
https://stackoverflow.com/questions/64702112/panda-expand-columns-with-list-into-multiple-columns